.card {
  display: block;
  margin: 30px auto;
}
.card-footer {
  padding: 10px 0 10px 10px;
}

.card-body {
  font-size: 18px;
  line-height: 30px;
}
#current-temp {
  font-weight: bold;
}

.search-bar {
  width: 250px;
}
.temp-conversion {
  border: none;
  color: inherit;
  background: inherit;
  font-weight: default;
}
.temp-conversion:hover {
  font-weight: bold;
}
.card-header {
  border: none;
  padding: 20px 20px 0 20px;
}

.temp-conversion.active {
  cursor: default;
  font-weight: bold;
}

.temp-conversion.active:hover {
  text-decoration: none;
  color: #13a3b8;
}

#forecast {
  text-align: center;
}

#go-button {
  background-color: #ec6e4b;
  border-color: #ec6e4b;
}

#go-button:hover {
  background-color: #e95d36;
  border-color: #e95d36;
}

#current-location-button {
  background-color: #48484a;
  border-color: #48484a;
  color: white;
}

#current-location-button:hover {
  background-color: #3b3b3d;
  border-color: #3b3b3d;
}

footer {
  text-align: center;
}
